<div class="nested-fields">
  <div class="row-fluid">
    <div class="span8">
      <%= f.input_field :libelle, class: "span10" %>
    </div>
    <div class="span3">
      <%= f.input_field :duree_comp, collection: Dossier::DUREE_COMP, class: "span4"%>
      <%= f.input_field :duree, class: "span4 duree-traitement" %>
      <%= f.input_field :duree_unite, collection: %w(jours mois années), class: "span4 duree-traitement" %>
    </div>
    <div class="span1">
      <%= link_to_remove_association "<i class='icon-remove'></i>".html_safe, f, class: "btn" %>
    </div>
  </div>
</div>
