<%= simple_form_for(dossier, html: {class: "form-vertical"}) do |f| %>
  <%= f.input :refinery_crpv_id, as: :hidden %>
  <%= f.input :enquete_id, as: :hidden %>
  <div class="row-fluid">
    <div class="span4">
      <%= f.input :code_bnpv %>
    </div>
    <div class="span4">
      <%= f.input :date_recueil, input_html: {class: "span3"} %>
    </div>
    <div class="span4">
      <%= f.input :doublon, as: :radio_buttons, collection: %w(Oui Non), item_wrapper_class: "inline", hint: "(cas déjà notifié au CRPV)" %>
    </div>
  </div>
  <%= render 'patient_info', f: f %>
  <%= render 'evenement_info', f: f %>
  <%= render 'traitement_info', f: f %>
  <div id="fdr-veineux">
    <h4>Evaluation des facteurs de risque de thrombose</h4>
    <div class="row-fluid">
      <div class="span6">
        <%= f.input :obesite, collection: Dossier::ONI %>
      </div>
      <div class="span6">
        <%= f.input :tabac, collection: %w(oui sevré non NSP) %>
        <%= f.input :tabac_pa %>
      </div>
    </div>
    <% {"thrombose" => "3- Antécédent(s) de thrombose", "cv" => "4- Antécedent(s) cardiovasculaire(s)"}.each do |prefix, titre| %>
      <div id=<%= prefix %> class="atcd-columns">
        <h5 class="text-center"><%= titre %></h5>
        <div class="row-fluid">
          <% %w(perso fam).each do |suffix| %>
            <div class="span6">
              <%= f.input :"#{prefix}_#{suffix}", collection: Dossier::ONI %>
              <%= f.input :"#{prefix}_#{suffix}_quoi" %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="row-fluid">
      <div class="span4">
        <%= f.input :hta, collection: Dossier::ONI %>
      </div>
      <div class="span4">
        <%= f.input :autoimmune, collection: Dossier::ONI %>
        <%= f.input :autoimmune_quoi %>
      </div>
      <div class="span4">
        <%= f.input :cancer, collection: Dossier::ONI %>
        <%= f.input :cancer_quoi %>
      </div>
    </div>
    <div id="hhc" class="atcd-columns">
      <h5 class="text-center">8- Hyperhomocystéinémie</h5>
      <div class="row-fluid">
        <% %w(perso fam).each do |suffix| %>
          <div class="span6">
            <%= f.input :"hhc_#{suffix}", collection: Dossier::ONI %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id="fdr-commun">
    <h4>Evaluation de facteurs de risque établis pour les thromboses veineuses mais à compléter pour tout événement</h4>
    <div class="row-fluid">
      <div class="span6">
        <p class="text-center"><strong>9- Circonstance(s) de survenue</strong></p>
        <% %w(chirurgie immobilisation voyage).each do |suffix| -%>
          <label class="checkbox">
            <%= f.check_box :"circonstance_#{suffix}" %>
            <%= t("simple_form.labels.dossier.circonstance_#{suffix}") %>
          </label>
        <% end -%>
        <label class="checkbox">
          <%= f.check_box :"circonstance_autre" %>
          <%= t("simple_form.labels.dossier.circonstance_autre") %>
          <%= f.text_field :circonstance_autre_quoi %>
        </label>
      </div>
      <div class="span6">
        <%= f.input :post_partum, collection: Dossier::ONI %>
      </div>
    </div>
    <div id="hemostase" class="atcd-columns">
      <h5 class="text-center">
        11- Anomalie(s) de l'hémostase
        <a href="#" data-toggle="tooltip" title="Protéine C, protéine S, antithrombine III, facteur V Leyden, mutation du gène de la prothrombine, anticorps antiphospholipides, anticorps anticardiolipine,lupus anticoagulant,  anticorps anti béta2glycoprotéine I…">(?)</a>
      </h5>
      <div class="row-fluid">
        <% %w(perso fam).each do |prefix| %>
          <div class="span6">
            <% {"bilan" => Dossier::HEMOSTASE, "anomalie" => Dossier::ONI}.each do |suffix, collection| %>
              <%= f.input :"anomalie_hemostase_#{prefix}_#{suffix}", collection: collection %>
            <% end %>
            <%= f.input :"anomalie_hemostase_#{prefix}_anomalie_quoi" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id="fdr-arterieux">
    <h4>Facteurs de risque établis pour les thromboses artérielles</h4>
    <div id="migraine" class="atcd-columns">
      <h5 class="text-center">12- Antécédent de migraine avec aura</h5>
      <div class='row-fluid'>
        <% %w(perso fam).each do |suffix| %>
          <div class="span6">
            <%= f.input :"migraine_#{suffix}", collection: Dossier::ONI %>
          </div>
        <% end -%>
      </div>
    </div>
    <div class='row-fluid'>
      <% %w(diabete hyperglycemie).each do |field| %>
        <div class="span4">
          <%= f.input :"#{field}", collection: Dossier::ONI %>
        </div>
      <% end -%>
      <div class="span4">
        <%= f.input :dyslipidemie, collection: Dossier::ONI %>
        <%= f.input :dyslipidemie_quoi, collection: %w(hypercholestérolémie hypertriglycéridémie NSP) %>
      </div>
    </div>
    <div class='row-fluid'>
      <% %w(illicites autres_cv).each do |field| %>
        <div class="span6">
          <%= f.input :"#{field}", collection: Dossier::ONI %>
          <%= f.input :"#{field}_quoi" %>
        </div>
      <% end -%>
    </div>
  </div>
  <%= f.input :commentaire, input_html: {class: "input-block-level"}, hint: "Attention ! Pas de données nominatives directes ou indirectes dans ce champ." %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end -%>
