<%= simple_form_for(dossier, html: {class: "form-vertical"}) do |f| %>
  <%= f.error_notification %>
  <%= f.input :refinery_crpv_id, as: :hidden %>
  <%= f.input :enquete_id, as: :hidden %>
  <div class="row-fluid">
    <div class="span4">
      <%= f.input :code_bnpv %>
    </div>
    <div class="span4">
      <%= f.input :date_recueil, input_html: {class: "span3"} %>
    </div>
    <div class="span4">
      <%= f.input :doublon, as: :radio_buttons, collection: %w(Oui Non), item_wrapper_class: "inline", hint: "(cas déjà notifié au CRPV)" %>
    </div>
  </div>
  <%= render 'patient_info', f: f %>
  <%= render 'evenement_info', f: f %>
  <%= render 'traitement_info', f: f %>
  <%= render 'fdr_communs_info', f: f %>
  <%= render 'fdr_veineux_info', f: f %>
  <%= render 'fdr_arterieux_info', f: f %>
  <%= f.input :commentaire, input_html: {class: "input-block-level"}, label: "Commentaire - <span class='text-warning'>Attention ! Pas de données nominatives directes ou indirectes dans ce champ.</span>".html_safe %>
  <div class="form-actions">
    <%= button_tag type: :submit, disable_with: (save_and_continue = "Enregistrer et continuer"), name: "_continue", class: "btn btn-success" do %>
      <%= save_and_continue %>
    <% end -%>
    <%= button_tag type: :submit, disable_with: (save_and_close = "Enregistrer et fermer"), class: "btn btn-info" do %>
      <%= save_and_close %>
    <% end -%>
    <%= link_to "Fermer", enquete_path(enquete), class: "btn", data: {confirm: "Attention ! Voulez-vous fermer le dossier et abandonner les modifications ?"} %>
  </div>
<% end -%>
