<%= simple_form_for(dossier, html: {class: "form-vertical"}) do |f| %>
  <%= f.input :refinery_crpv_id, as: :hidden %>
  <%= f.input :enquete_id, as: :hidden %>
  <div class="row-fluid">
    <div class="span4">
      <%= f.input :code_bnpv %>
    </div>
    <div class="span4">
      <%= f.input :date_recueil, input_html: {class: "span3"} %>
    </div>
    <div class="span4">
      <%= f.input :doublon, as: :radio_buttons, collection: %w(Oui Non), item_wrapper_class: "inline", hint: "(cas déjà notifié au CRPV)" %>
    </div>
  </div>
  <%= render 'patient_info', f: f %>
  <%= render 'evenement_info', f: f %>
  <%= render 'traitement_info', f: f %>
  <%= render 'fdr_communs_info', f: f %>
  <%= render 'fdr_veineux_info', f: f %>
  <%= render 'fdr_arterieux_info', f: f %>
  <%= f.input :commentaire, input_html: {class: "input-block-level"}, hint: "Attention ! Pas de données nominatives directes ou indirectes dans ce champ." %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end -%>
