<div class='traitement-info form-section'>
  <h4>Traitement au moment de l'évènement</h4>
  <%= f.error :traitements, class: "traitements-error" %>
  <div class="row-fluid">
    <div class="span8">
      <h5>
        <abbr title="obligatoire">*</abbr>
        Médicament
      </h5>
    </div>
    <div class="span3">
      <h5>Durée de traitement</h5>
    </div>
    <div class="span1">
    </div>
  </div>
  <div class="traitements">
    <%= f.simple_fields_for :incrimines do |traitement| %>
      <%= render "incrimine_fields", f: traitement %>
    <% end -%>
    <div class="links">
      <%= link_to_add_association "<i class='icon-plus'></i> Rajouter un traitement".html_safe, f, :incrimines, class: "btn" %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4">
      <%= f.input :contraception_ant, as: :select, collection: Dossier::ONI %>
    </div>
    <div class="span4 contraception-field" style="display: none;">
      <%= f.input :contraception_age, input_html: {class: "span3"} %>
    </div>
  </div>
  <div class="row-fluid contraception-field">
    <div class="span8">
      <h5>Contraceptif</h5>
    </div>
    <div class="span3">
      <h5>Durée de traitement</h5>
    </div>
    <div class="span1">
    </div>
  </div>
  <div class="traitements contraception-field">
    <%= f.simple_fields_for :contraceptions do |contraception| %>
      <%= render "contraception_fields", f: contraception %>
    <% end -%>
    <div class="links">
      <%= link_to_add_association "<i class='icon-plus'></i> Rajouter une contraception".html_safe, f, :contraceptions, class: "btn" %>
    </div>
  </div>
  <%= f.input :concomitants_pres, as: :select, collection: Dossier::ONI %>
  <div class="row-fluid concomitant-field">
    <div class="span8">
      <h5>Médicament (nom de spécialité ou DCI)</h5>
    </div>
    <div class="span3">
      <h5>Durée de traitement</h5>
    </div>
    <div class="span1"></div>
  </div>
  <div class="traitements concomitant-field">
    <%= f.simple_fields_for :concomitants do |concomitant| %>
      <%= render "concomitant_fields", f: concomitant %>
    <% end -%>
    <div class="links">
      <%= link_to_add_association "<i class='icon-plus'></i> Rajouter un médicament".html_safe, f, :concomitants, class: "btn" %>
    </div>
  </div>
</div>
<div class="form-section">
  <h4>Contraception après l'évènement</h4>
  <div class="row-fluid">
    <div class="span5">
      <%= f.input :contraception_ci, as: :select, collection: Dossier::ONI, input_html: {class: "span4"} %>
    </div>
    <div class="span3">
      <%= f.input :contraception_apres, as: :select, collection: Dossier::ONI, input_html: {class: "span6"} %>
    </div>
    <div class="span4 contraception-quoi">
      <%= f.input :contraception_quoi, input_html: {class: "input-block-level"} %>
    </div>
  </div>
</div>
