<% present @dossier do |dossier| %>
<div class="dossier_fiche">
  <div class="row">
    <div class="span4">
      <span class="libelle">Date recueil</span>
      <%= dossier.date_recueil %>
    </div>
    <div class="span4">
      <span class="libelle">Doublon</span>
      <%= dossier.doublon %>
    </div>
    <div class="span4">
      <span class="libelle">Patient</span>
      <%= dossier.patient_data %>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <span class="libelle">Evènement</span>
      <%= dossier.evenement %>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <span class="libelle">Date évènement</span>
      <%= dossier.date_evenement %>
    </div>
    <div class="span4">
      <span class="libelle">Gravité</span>
      <%= dossier.gravite %>
    </div>
    <div class="span4">
      <span class="libelle">Evolution</span>
      <%= dossier.evolution %>
    </div>
  </div>
  <h4>Médicaments en cause</h4>
  <% dossier.incrimines.each do |inc| %>
  <div class="row">
    <div class="span5">
      <%= inc.medicament %>
    </div>
    <div class="span4">
      <%= inc.full_indication %>
    </div>
    <div class="span3">
      <%= inc.duree_ttt %>
    </div>
  </div>
  <% end -%>
  <% if dossier.contraception_ant == "Oui" %>
    <h4>Contraception(s) antérieure(s) <%= dossier.age_1ere_contraception %></h4>
    <% dossier.contraceptions.each do |cont| %>
    <div class="row">
      <div class="span5">
        <%= cont.medicament %>
      </div>
      <div class="span3 offset4">
        <%= cont.duree_ttt %>
      </div>
    </div>
    <% end -%>
  <% end -%>
  <% if dossier.concomitants_pres == "Oui" %>
    <h4>Autres médicaments en cours au moment de l’évènement</h4>
    <% dossier.concomitants.each do |conc| %>
    <div class="row">
      <div class="span5">
        <%= conc.libelle %>
      </div>
      <div class="span3 offset4">
        <%= conc.duree_ttt %>
      </div>
    </div>
    <% end -%>
  <% end -%>
  <h4>Contraception après l'évènement</h4>
  <div class="row">
    <div class="span6">
      <span class="libelle">Contre-indication</span>
      <%= dossier.contraception_ci %>
    </div>
    <div class="span6">
      <span class="libelle">Reprise d'une contraception</span>
      <%= dossier.contraception_apres %>
    </div>
  </div>
  <h4>Facteurs de risque</h4>
  <% [
      {label: "Communs", value: "fdr_communs"},
      {label: "Veineux", value: "fdr_veineux"},
      {label: "Artériels", value: "fdr_arteriels"},
  ].each do |item| %>
  <div class="row">
    <div class="span2">
      <span class="libelle"><%= item[:label] %></span>
    </div>
    <div class="span10">
      <%= dossier.send(item[:value]) %>
    </div>
  </div>
  <% end %>
  <h4>Commentaire</h4>
  <%= dossier.commentaire %>
</div>
<% end -%>
