<div id="body_content_title"</div>
  <%= @dossier.code_bnpv %>
</div>

<div id="body">
  <section>
    <h1>Code Bnpv</h1>
    <p>
      <%=raw @dossier.code_bnpv %>
    </p>
  </section>
  <section>
    <h1>Date Recueil</h1>
    <p>
      <%=raw @dossier.date_recueil %>
    </p>
  </section>
  <section>
    <h1>Doublon</h1>
    <p>
      <%=raw @dossier.doublon %>
    </p>
  </section>
  <section>
    <h1>J Evenement</h1>
    <p>
      <%=raw @dossier.j_evenement %>
    </p>
  </section>
  <section>
    <h1>M Evenement</h1>
    <p>
      <%=raw @dossier.m_evenement %>
    </p>
  </section>
  <section>
    <h1>A Evenement</h1>
    <p>
      <%=raw @dossier.a_evenement %>
    </p>
  </section>
  <section>
    <h1>Comm Evenement</h1>
    <p>
      <%=raw @dossier.comm_evenement %>
    </p>
  </section>
  <section>
    <h1>Gravite</h1>
    <p>
      <%=raw @dossier.gravite %>
    </p>
  </section>
  <section>
    <h1>Evolution</h1>
    <p>
      <%=raw @dossier.evolution %>
    </p>
  </section>
  <section>
    <h1>Commentaire</h1>
    <p>
      <%=raw @dossier.commentaire %>
    </p>
  </section>
</div>
