#carousel
  .tabbbale.tabs-left
    %ul.nav.nav-tabs
      - (sections = {"section1" => "sec1", "section2" => "sec2", "section3" => "sec3"}).each do |name, target|
        %li= link_to name, "#" + target, data: {toggle: "tab"}
    .tab-content.fade.in
      - sections.each do |name, target|
        .tab-pane{id: target}
          %p Hello from #{name}!

%hr

#actualites_pv
  %section
    %header
      %h1= link_to "Actualités de la Pharmacovigilance", "/actualites"
    - if @pv_news && @pv_news.any?
    - else
      %p Aucune actualité.
%hr

#actualites_colonnes.row-fluid
  - @agences.each do |agence|
    .actualite.span4
      %aside
        %header
          %h1= agence.name
          %h2= agence.description
        %hr
        = get_agence_feeds(agence, 5)
