.row-fluid
  %ul.thumbnails
    %li.span4
      .thumbnail
        %h3
          = link_to "Les CRPV", "#", class: "btn btn-large btn-block btn-primary"
        %p
          Blabla, balblablaelrbaerblelrblaerblaerbl aeb aerlbalerlba
          = link_to "#carte-france", role: "button", "data-toggle" => "modal", class: "btn" do
            %i.icon-globe
            Choisir un centre sur la carte
        %h4 Dernières mises à jour
        %table.table.table-striped.table-condensed.news
          %tr
            %td
              %span.date 16/11/2012
            %td= link_to "Lorem ipsum dolor sit amet, consectetur adipiscing elit.", "#"
          %tr
            %td
              %span.date 06/11/2012
            %td= link_to "Lorem ipsum dolor sit amet, consectetur adipiscing elit.", "#"
          %tr
            %td
              %span.date 01/10/2012
            %td= link_to "Lorem ipsum dolor sit amet, consectetur adipiscing elit.", "#"
    %li.span4
      .thumbnail
        %h3
          = link_to "Les Documents", "#", class: "btn btn-large btn-block btn-danger"
        %p
          Blabla, balblablaelrbaerblelrblaerblaerbl aeb aerlbalerlba
          = link_to "/refinery", class: "btn" do
            %i.icon-file
            Rajouter un document
        %h4 Derniers documents
        %table.table.table-striped.table-condensed.news
          %tr
            %td
              %span.date 16/11/2012
            %td= link_to "Lorem ipsum dolor sit amet, consectetur adipiscing elit.", "#"
          %tr
            %td
              %span.date 06/11/2012
            %td= link_to "Lorem ipsum dolor sit amet, consectetur adipiscing elit.", "#"
          %tr
            %td
              %span.date 01/10/2012
            %td= link_to "Lorem ipsum dolor sit amet, consectetur adipiscing elit.", "#"
    %li.span4
      .thumbnail
        %h3
          = link_to "Les Projets", "#", class: "btn btn-large btn-block btn-info"
        %p
          Blabla, balblablaelrbaerblelrblaerblaerbl aeb aerlbalerlba
          = link_to "#", class: "btn" do
            %i.icon-warning-sign
            Soumettre un projet
        %h4 Derniers projets soumis
        %table.table.table-striped.table-condensed.news
          %tr
            %td
              %span.date 16/11/2012
            %td= link_to "Lorem ipsum dolor sit amet, consectetur adipiscing elit.", "#"
          %tr
            %td
              %span.date 06/11/2012
            %td= link_to "Lorem ipsum dolor sit amet, consectetur adipiscing elit.", "#"
          %tr
            %td
              %span.date 01/10/2012
            %td= link_to "Lorem ipsum dolor sit amet, consectetur adipiscing elit.", "#"

.modal.hide.fade#carte-france
  .modal-header
    %button{type: "button", class: "close", "data-dismiss" => "modal", "aria-hidden" => true} &times;
    %h3 Choisir un CRPV
  .modal-body
    #canvas_france
  .modal-footer
    = link_to "Fermer", "#", class: "btn", "data-dismiss" => "modal", "aria-hidden" => true
