#carousel
  .row-fluid
    = raw @page.content_for(:carousel)

%hr

#actualites_pv
  .row-fluid
    %section
      %header
        %h1= link_to "Actualités de la Pharmacovigilance", "/actualites"
      - if @pv_news && @pv_news.any?
      - else
        %p Aucune actualité.
%hr

#actualites_colonnes.row-fluid
  - @agences.each do |agence|
    .actualite.span4
      %aside
        %header
          %h1= agence.name
          %h2= agence.description
        %hr
        - cache agence.name, expires_in: 30.minutes do
          = get_agence_feeds(agence, 5)
