<div class="row-fluid">
  <ul class="thumbnails">
    <li class="span4">
      <div class="thumbnail">
        <h3><%= link_to "Les CRPVs", refinery.crpvs_crpvs_path, class: "btn btn-large btn-block btn-primary" %></h3>
        <p>
          Blabla, balblablaelrbaerblelrblaerblaerbl aeb aerlbalerlba
          <%= link_to "#carte-france", role: "button", "data-toggle" => "modal", class: "btn btn-small btn-block" do %>
            <i class="icon-globe"></i>
            Choisir un centre sur la carte
          <% end -%>
        </p>
        <h4>Dernières mises à jour</h4>
        <%= render 'lorem' %>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <h3><%= link_to "Les Documents", "/intranet/documents", class: "btn btn-large btn-block btn-danger" %></h3>
        <p>
          Blabla, balblablaelrbaerblelrblaerblaerbl aeb aerlbalerlba
          <% if current_refinery_user && (current_refinery_user.has_role?("Documents") || current_refinery_user.has_role?("Superuser")) %>
            <%= link_to "/refinery", class: "btn btn-small btn-block" do %>
              <i class="icon-file"></i>
              Rajouter un document
            <% end -%>
          <% end -%>
        </p>
        <h4>Derniers documents</h4>
        <%= render 'lorem' %>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <h3><%= link_to "Les Projets", refinery.projets_projets_path, class: "btn btn-large btn-block btn-info" %></h3>
        <p>
          Blabla, balblablaelrbaerblelrblaerblaerbl aeb aerlbalerlba
          <%= link_to refinery.projets_new_projet_path, class: "btn btn-small btn-block" do %>
            <i class="icon-plus"></i>
            Soumettre un projet
          <% end -%>
        </p>
        <h4>Derniers projets soumis</h4>
        <%= render 'lorem' %>
      </div>
    </li>
  </ul>
</div>

<%= render 'france' %>
