<%= f.input :last_name %>
<%= f.input :first_name %>
<%= f.input :title %>
<%= f.input :phone %>
<%= f.input :fax %>
<% if !f.object.new_record? %>
  <div class="control-group">
    <%= f.label :membership_level, class: "control-label" %>
    <div class="controls">
      <% if @is_admin %>
        <%= f.text_field :membership_level %>
      <% else %>
        <span class="uneditable-input"><%= @member.roles.collect(&:title).join(', ') %></span>&nbsp;
      <% end %>
    </div>
  </div>
<% end %>
