<table class="table table-condensed table-striped table-bordered display" id="dossiers" data-source="<%= dossiers_url(format: :json) %>">
  <thead>
    <tr>
      <th>N° Cas BNPV</th>
      <th>Evènement</th>
      <th>Médicament(s)</th>
      <th>Date recueil</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody></tbody>
  <% if Rails.env.development? %>
  <tfoot>
    <tr>
      <th></th>
      <th><input type="hidden" id="search_dossier_evenement_name" class="input-xxlarge" data-placeholder="Evènement"></th>
      <th>
        <input type="hidden" id="search_dossier_traitements_medicament_name" class="input-large" data-placeholder="Médicament">
      </th>
      <th>
         au <%= select_date Date.current, {use_month_numbers: true, date_separator: "/", prefix: "date_recueil_au" }, class: "span3" %>
      </th>
      <th>&nbsp;</th>
    </tr>
  </tfoot>
  <% end -%>
</table>

<div class="dossiers-actions">
  <%= form_tag dossiers_url, method: :get, class: "form-inline" do %>
    <%= text_field_tag "code_bnpv", "", placeholder: "N° dossier", class: "input-small" %>
    <%= submit_tag "Modifier ce dossier", name: nil, class: "btn" %>
    <%= link_to "Nouveau dossier", new_dossier_path(enquete_id: enquete.id), class: "btn" %>
  <% end -%>
</div>
