<div class="row-fluid">
  <div class="span6">
    <div class="btn-group">
      <%= link_to "#", class: "btn dropdown-toggle", data: {toggle: "dropdown"} do %>
        Exporter
        <span class="caret"></span>
      <% end -%>
      <ul class="dropdown-menu">
        <li><%= link_to "Excel", format: :csv %></li>
        <li><%= link_to "Excel 2007", format: :xls %></li>
      </ul>
    </div>
    <div class="btn-group">
      <%= link_to "Imprimer", enquete_path(@enquete, format: :pdf), target: "_BLANK", class: "btn" %>
    </div>
  </div>
  <div class="span6 text-right">
    <%= form_tag dossiers_url, method: :get, class: "form-inline" do %>
      <%= text_field_tag "code_bnpv", "", placeholder: "N° dossier", class: "input-small" %>
      <%= submit_tag "Modifier ce dossier", name: nil, class: "btn" %>
      <%= link_to "Nouveau dossier", new_dossier_path(enquete_id: @enquete.id), class: "btn" %>
    <% end -%>
  </div>
</div>
