<%= simple_form_for(enquete, html: {class: "form-vertical"}) do |f| %>
  <%= f.input :hydra_set_id, as: :hidden %>
  <%= f.input :code_bnpv %>
  <%= f.input :date_recueil %>
  <%= f.input :doublon %>
  <%= f.simple_fields_for :patient do |pf| %>
    <%= pf.input :age %>
    <%= pf.input :poids %>
    <%= pf.input :taille %>
    <%= pf.input :imc %>
  <% end -%>
  <%= f.association :evenement, collection: evenements, prompt: "Choisir un évènement" %>
  <%= f.input :comm_evenement %>
  <% %w(j m a).each do |prefix| %>
    <%= f.input :"#{prefix}_evenement" %>
  <% end -%>
  <%= f.input :gravite, as: :radio_buttons, collection: Enquete::GRAVITE %>
  <%= f.input :evolution, as: :radio_buttons, collection: Enquete::EVOLUTION %>
  <%= f.input :commentaire %>
  <div class="form-actions">
    <%= f.button :submit, "Enregistrer" %>
  </div>
<% end -%>
