<div id="body_content_title">
  <h1>Listing des enquêtes en cours</h1>
</div>

<div id="body">
  <% if @enquetes.any? %>
    <table class="table table-condensed table-striped table-bordered">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Champs</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      <% @enquetes.each do |enquete| %>
        <tr>
          <td><%= enquete.name %></td>
          <td><%= enquete.fields.map(&:name).join(", ") %></td>
          <td>
            <%= link_to content_tag(:i, nil, class: "icon-pencil"), edit_enquete_path(enquete) %>
            <%= link_to content_tag(:i, nil, class: "icon-trash"), enquete, data: {confirm: "Etes-vous sûr ?"}, method: :delete %>
          </td>
        </tr>
      <% end -%>
      </tbody>
    </table>
  <% else %>
    <p>Aucune enquête en cours. <%= link_to "Voir les enquêtes terminées", "#", class: "btn" %></p>
  <% end -%>
</div>
