<div id="body_content_title">
  <h1>Liste des enquêtes</h1>
</div>

<div id="body">
  <% if @enquetes.any? %>
    <table class="table table-condensed table-striped table-bordered" id="enquetes">
      <thead>
        <tr>
          <th>N° Cas BNPV</th>
          <th>Evènement</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @enquetes.each do |enquete| %>
          <tr>
            <td><%= link_to enquete.code_bnpv, enquete %></td>
            <td><%= enquete.evenement %></td>
            <td>
              <%= link_to content_tag(:i, nil, class: "icon-pencil"), edit_enquete_path(enquete) %>
              <%= link_to content_tag(:i, nil, class: "icon-trash"), enquete, data: {confirm: "Etes-vous sûr ?"}, method: :delete if authorised_enquetes_user? %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    Aucune enquête.
  <% end -%>
  <%= form_tag new_enquete_path, method: :get do %>
    <div class="input-append">
      <%= select_tag :hydra_set_id, options_from_collection_for_select(TypeEnquete.all, :id, :name) %>
      <%= submit_tag "Nouvelle enquête", name: nil, class: "btn" %>
    </div>
  <% end -%>
</div>
