<h1>Listing medicaments</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Classe</th>
    <th>Forme</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @medicaments.each do |medicament| %>
  <tr>
    <td><%= medicament.name %></td>
    <td><%= medicament.type %></td>
    <td><%= medicament.classe %></td>
    <td><%= medicament.forme %></td>
    <td><%= link_to 'Show', medicament %></td>
    <td><%= link_to 'Edit', edit_medicament_path(medicament) %></td>
    <td><%= link_to 'Destroy', medicament, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Medicament', new_medicament_path %>
