<h1>Listing medicaments</h1>

<%= form_tag add_medicaments_enquetes_path, method: :post, id: "medicaments-form", class: "form-horizontal" do %>
  <table class="table table-condensed table-striped table-hovered table-bordered display" id="medicaments" data-source="<%= medicaments_url(format: :json) %>">
    <thead>
      <tr>
        <th></th>
        <th>&nbsp;</th>
        <th>Nom</th>
        <th>Classe</th>
        <th>Forme</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

  <div id="medicaments-checkboxes" style="display: none;"></div>

  <% if Rails.env.development? %>
    <%= select_tag :enquete_id, options_from_collection_for_select(Enquete.all, :id, :name) %>
    <%= submit_tag "Rajouter ces médicaments à l'enquête sélectionnée", class: "btn", name: nil %>
  <% end -%>
<% end -%>

<p><%= link_to 'Nouveau Medicament', new_medicament_path, class: "btn"%></p>
<h3>Importer des médicaments par fichier excel</h3>
<%= form_tag import_medicaments_path, multipart: true, class: "form-inline" do %>
  <%= file_field_tag :file %>
  <%= submit_tag "OK", class: "btn" %>
<% end -%>
