<%= show_for @medicament do |s| %>
  <%= s.attribute :name %>
  <%= s.attribute :classe %>
  <%= s.attribute :forme %>
<% end %>

<div class="btn-group">
  <%= link_to 'Modifier', edit_medicament_path(@medicament), class: "btn" %>
  <%= link_to 'Retour à la liste', medicaments_path, class: "btn" %>
</div>
