<h1>Listing evenements</h1>

<%= form_tag add_evenements_enquetes_path, method: :post, id: "evenements-form", class: "form-horizontal"  do %>
  <table class="table table-condensed table-striped table-hovered table-bordered display" id="evenements" data-source="<%= evenements_url(format: :json)%>">
    <thead>
      <tr>
        <th></th>
        <th>&nbsp;</th>
        <th>Nom</th>
        <th>Type</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

  <div id="evenements-checkboxes" style="display: none;"></div>

  <%= submit_tag "Rajouter les évènements sélectionnés à l'enquête : ", class: "btn", name: nil %>
  <%= select_tag :enquete_id, options_from_collection_for_select(Enquete.all, :id, :name) %>
<% end -%>

<p><%= link_to 'Nouvel évenèment', new_evenement_path, class: "btn" %></p>
