<% content_for :body do %>
  <div class='inquiries'>
    <%= simple_form_for([refinery, :inquiries, @inquiry], html: {class: "form-vertical"}) do |f| %>
      <%= f.input :name, input_html: {class: "input-xlarge"} %>
      <%= f.input :email, input_html: {class: "input-xlarge"} %>
      <%= f.input :phone, input_html: {class: "input-xlarge"} %>
      <%= f.input :message, input_html: {rows: 8, class: "input-xxlarge"} %>
      <%= f.input :humanizer_answer, label: @inquiry.humanizer_question, input_html: {placeholder: t(:here_the_anwser, :scope => 'humanizer')} %>
      <%= f.input :humanizer_question_id, as: :hidden %>
      <div class="form-actions">
        <%= f.button :submit, "Envoyer" %>
        <%= link_to t('.privacy_policy'), "/pages/privacy-policy", :id => "privacy_link" if Refinery::Inquiries.show_contact_privacy_link %>
      </div>
    <% end %>
  </div>
<% end %>
<%= render :partial => "/refinery/content_page" %>
