<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body class=<%= @page.title.downcase %>>
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div class="main-wrap" role="main">
      <div class="page-outer-wrap">
        <div class="page-inner-wrap">
          <div class="container-fluid">
            <%= render '/refinery/breadcrumb' if @page.self_and_ancestors.many? && @page.link_url != "/" %>
            <%= render '/refinery/message' %>
            <div class="row-fluid">
              <div class="span12"><%= yield %></div>
            </div><!--row-fluid-->
          </div><!--container-fluid-->
        </div><!--page-inner-wrap-->
        <div class="container-fluid">
          <footer class="page-footer">
            <%= render '/refinery/footer' -%>
          </footer>
        </div><!--container-fluid-footer-->
      </div><!--page-outer-wrap-->
    </div><!--main-wrap-->
    <%= render 'refinery/bootstrap/navbar' %>
    <%= render 'refinery/intranet_navbar' if current_refinery_user %>
    <%= render '/refinery/javascripts' %>
  </body>
</html>
