<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body class=<%= @page.title.downcase %>>
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div class="container" id="header_container">
      <header id="header">
        <%= render '/refinery/header' -%>
      </header>
    </div>
    <div id="main_wrap">
      <div id="page">
        <div class="container-fluid">
          <%= render '/refinery/breadcrumb' %>
          <div class="row-fluid">
            <div class="span8"><%= yield %></div>
            <div class="span4"><%= render '/refinery/toc' %></div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <footer id="page_footer">
          <%= render '/refinery/footer' -%>
        </footer>
      </div>
    </div>
    <%= render '/refinery/javascripts' %>
  </body>
</html>
