<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body class=<%= @page.title.downcase %>>
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div class="main-wrap">
      <div class="container-fluid">
        <div class="row-fluid">
          <header class="page-header">
            <%= render '/refinery/header' -%>
          </header>
        </div>
      </div>
      <div class="page-outer-wrap">
        <div class="page-inner-wrap">
          <div class="container-fluid">
            <%= render '/refinery/breadcrumb' if @page.self_and_ancestors.many? %>
            <div class="row-fluid">
              <div class="span8"><%= yield %></div>
              <div class="span4"><%= render '/refinery/toc', root: (root = @page.self_and_ancestors.first) %></div>
            </div><!--row-fluid-->
          </div><!--container-fluid-->
        </div><!--page-outer-wrap-->
        <div class="container-fluid">
          <footer class="page-footer">
            <%= render '/refinery/footer' -%>
          </footer>
        </div><!--container-fluid-footer-->
      </div><!--page-wrap-->
    </div><!--main-wrap-->
    <%= render '/refinery/javascripts' %>
  </body>
</html>
